<<<<<<< HEAD
@media ( max-width: 5000px){
=======
@media (min-width: 1001px){
>>>>>>> 4ded64629006a741c95a7da7bba2c5e301dc1203
#main-picture{
   
    right: 0;
    bottom: 0;
   width: 100%; 
    height: 75vh;
    object-fit: fill;
   z-index: -1;
    position: relative;
    filter: blur(0.5px);
}
}
@media (min-width: 768px),( max-width: 1000px){
    #main-picture{
        right: 0;
        bottom: 0;
       width: 100%; 
        height: 75vh;
        object-fit: fill;
       
        position: relative;
    }
}
@media (max-width:767px){
    #main-picture{
        right: 0;
        bottom: 0;
       width: 100%; 
        height: 35vh;
        object-fit: fill;
        position: relative;
    }
   
}
@media (max-width:767px){
    .input-main{
        width: 250px;
        height: 50px;
        border-radius: 14px;
        border-color: white;
        border-style: initial;
        justify-content: center;
        display: flex;
        align-items: center;
        padding-left: 30px;
        
    }
    .ddd{
        margin-top: -42vh;
    }
}
@media (min-width: 768px){
    .ddd{
        margin-top: -37vh;
        text-shadow: black;
        box-shadow: black;
    }
    .input-main{
        width: 400px;
        height: 50px;
        border-radius: 14px;
        border-color: white;
        border-style: initial;
        justify-content: center;
        display: flex;
        align-items: center;
        padding-left: 30px;
        box-shadow: black;
        
    }
}



.all-page{
    margin-top: 66px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.main-title{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    text-decoration: solid;
    text-shadow: white;
    text-shadow: 5px;
   
}
.title-details{
    font-size: 80px;
   color: azure;
    border-radius: 5px;
    z-index: 100;
    border-color: white;
}
.search-main{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.search-group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px;
    background-color: rgba(15, 118, 146, 0.389);
  
}

.btn44{
    padding: 0.4rem 2rem;
      border: 1px solid #ffffff;
      border-radius: 1rem;
      border: none;
      outline: none;
      cursor: pointer;
      text-decoration: none;
      color: white;
    
      
background-color: rgba(12, 95, 118, 0.855);
}

@media(max-width: 680px) {
    .all-page{
        margin-top: 60px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .title-details{
        font-size: 50px;
       color: azure;
        border-radius: 5px;
        z-index: 100;
        border-color: white;
    }
    .main-title{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 28vh;
        text-decoration: solid;
        text-shadow: white;
        text-shadow: 5px;
       
    }
    .main-picture{
        background-repeat: no-repeat;
        background-size:cover ;
        height: 50vh;
        width: 100%;
        filter: blur(2px);
        
    }
} 
#myVideo {
    width: 100%; 
    height: 50%; 
    object-fit: cover; 
  }
  