@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Roboto+Condensed:wght@500&family=Whisper&display=swap');


.footer-section{
    background-color:  rgb(15, 118, 146);
    padding-top: 20px;
    padding-bottom: 50px;
  
}
.container{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.left-half{
    display: grid;
    justify-content: center;
  
}
.right-half{
    
    justify-content: center;
    gap: 25px;
}
.brif{
    width: 350px;
    color: white;
    font-size: 17px;
}
.p1{
    color: white;
}
.hs{
    color: white;
    text-shadow: #000000;
   
}
.hs1{
    color: rgb(255, 255, 255);
    text-shadow: #000000;
    font-family: 'Kalam', sans-serif;
    
}
.links1{
  
    justify-content: center;
    align-items: center;
    
   
}
.icons{
    display: flex;
    gap: 30px;
 padding-bottom: 30px;
}
.each-icon{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    
}

.contact{
    padding-bottom: 10px;
    display: flex;

    width: 200px;
}
.quick-link{
    margin-left: 20px;
}
@media (max-width:990px) {
    .brif{
        width: fit-content;
        display: flex;
      justify-content: center;
        line-break: initial;
        
      
    }
   
    .icons{
        justify-content: center;
    }
}
@media (max-width:767px) {
    .hs{
        justify-content: center;
        display: flex;
     
        /* -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: rgb(15, 118, 146); */
    }
    .quick-link{
        justify-content: center;
        align-items: center;
        display: grid;
        margin-left: -10px;
        
    }
    .right-half{
        display: grid;
        justify-content: center;
    }
    .contact{
        margin-left: 50px;
    }
}