body{
   font-family: 'Poppins', sans-serif;
   background-color: white;
}


/*login container*/
.box-area{
    width: 750px;
    
}

/*right box*/
.right-box{
   padding-left: 35px;
}
::placeholder{
    font-size: 16px;
}
/*left box*/

.img {

}